[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiodns = "*"
aiohttp = "*"
aiopg = "*"
appdirs = "*"
appnope = "*"
bottom = "*"
cchardet = "*"
chardet = "*"
decorator = "*"
django-jinja = "*"
djangorestframework = "*"
"geoip2" = "*"
ipython = "*"
maxminddb = "*"
multidict = "*"
peewee = "*"
peewee-async = "*"
pexpect = "*"
pickleshare = "*"
"psycopg2" = "*"
ptyprocess = "*"
pycares = "*"
pyparsing = "*"
pytz = "*"
requests = "*"
simplegeneric = "*"
simplex = "*"
six = "*"
traitlets = "*"
wcwidth = "*"
yarl = "*"
django-bower = "*"
python-dateutil = "*"
Django = "*"
async_timeout = "*"
ipython_genutils = "*"
"Jinja2" = "*"
MarkupSafe = "*"
prompt_toolkit = "*"
Pygments = "*"
PyYAML = "*"
uWSGI = "*"
django-echoices = "*"
python-xonotic-db = "*"
maya = "*"
"django-bootstrap4" = "*"

[dev-packages]
"fabric3" = "*"

[requires]
python_version = "3.6"
