<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ static('css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ static('css/xdf.css') }}">
    <link rel="stylesheet" href="{{ static('fa/css/fontawesome-all.min.css') }}">
    <title>{% block title %}{% endblock %}</title>
    {% include "xdf/_favs.jinja" %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ url('xdf:index') }}">Xonotic DeFRaG</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if current_nav_tab == 'index' %}active{% endif %}">
                <a class="nav-link" href="{{ url('xdf:index') }}">News</a>
            </li>
            <li class="nav-item {% if current_nav_tab == 'servers' %}active{% endif %}">
                <a class="nav-link" href="{{ url('xdf:servers') }}">Servers</a>
            </li>
            <li class="nav-item {% if current_nav_tab == 'maps' %}active{% endif %}">
                <a class="nav-link" href="{{ url('xdf:maps') }}">Maps</a>
            </li>
            <li class="nav-item {% if current_nav_tab == 'players' %}active{% endif %}">
                <a class="nav-link" href="{{ url('xdf:classic-ladder') }}">Players</a>
            </li>

        </ul>

    </div>
</nav>

<div class="container main-container">
    <div class="row">
        {% block content %}
        {% endblock %}
    </div>
    <footer id="footer">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li class="float-lg-right"><a href="#top">Back to top</a></li>
                            {% if request.user.is_anonymous %}
                                <li><a href="{{ login_url(request) }}">Login</a></li>
                            {% else %}
                                <li><a href="{{ url('logout') }}">Logout</a></li>
                            {% endif %}
                            <li><a href="https://xonotic.org/">Xonotic Website</a></li>
                            <li><a href="https://discord.gg/v447EHx">XDF Discord</a></li>
                            <li><a href="http://webchat.quakenet.org/?channels=#xdf">IRC: quakenet/#xdf</a></li>

                        </ul>
                        <p>Website made by <a href="https://portal.exe.pub/xdf/players/4/">Morosophos</a>,<br>
                            <a href="https://github.com/nsavch/xanmel-web">source code</a> available under GNU AGPL-3.0 license.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
{% block extra_js %}
{% endblock %}
</html>
