{% extends "xdf/base.jinja" %}

{% block title %}Xonotic DeFRaG{% endblock %}

{% block content %}
    <div class="col-md-12">
        <h1>Xonotic DeFRaG</h1>
        <h2 class="page-header">News Feed</h2>
        <form>
            <div class="row">
                <div class="col">
                    {{ bootstrap_field(form.maps, show_label=False) }}
                </div>
                <div class="col">
                    {{ bootstrap_field(form.players, show_label=False) }}
                </div>
                <div class="col">
                    {{ bootstrap_field(form.servers, show_label=False) }}
                </div>
                <div class="col">
                    {{ bootstrap_field(form.event_types, show_label=False) }}
                </div>
                <div class="col">
                    {{ bootstrap_field(form.position_lte, show_label=False) }}
                </div>
                <div class="col">
                    <button class="btn btn-primary">refresh</button>
                </div>
            </div>
        </form>
        <table class="table table-bordered table-striped">
            <thead>
            </thead>
            <tbody>
            {% for i in news %}
                <tr>
                    <td>{{ i.server.name }}</td>
                    <td>{{ format_timestamp(i.timestamp) }}</td>
                    <td style="white-space:nowrap"><a href="{{ url('xdf:map', urlquote(i.map)) }}">{{ i.map }}</a></td>
                    <td>{{ format_news_item(i)|safe }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ render_pagination(request, total_news) }}

    </div>
{% endblock %}
