{% extends "base.jinja" %}

{% block content %}
    <h1>Racing records</h1>
    <ul class="nav nav-tabs">
        {% for i in servers %}
            <li {% if i.id == active_server.id %}class="active"{% endif %}>
                <a href="{{ url('xdf:main') }}?server_id={{ i.id }}">{{ i.name }}</a>
            </li>
        {% endfor %}
    </ul>
    <div class="tab-content">
        <div class="tab-pane active">
            <h2>{{ map.name }}</h2>
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Player</th>
                    <th>Time</th>
                </tr>
                </thead>
                <tbody>
                {% for i in time_records %}
                    <tr>
                        <td>{{ i.position }}</td>
                        <td>{{ i.player.nickname }}</td>
                        <td>{{ time_format(i.time / 100) }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
