{% extends "xdf/base.jinja" %}

{% block title %}Maps - Xonotic DeFRaG{% endblock %}


{% block content %}
    <div class="col-md-12">
        <h1>Xonotic DeFRaG</h1>
        <h2 class="page-header">Maps</h2>
        <table>
            <thead>

            </thead>
            <tbody>
            {% for map in maps %}
                <tr>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
