{% extends "xdf/base.jinja" %}

{% block title %}{{ player.nickname }} - Xonotic DeFRaG{% endblock %}


{% block content %}
    <div class="col-md-12">
        <h1>Xonotic DeFRaG</h1>
        {% if player.stats_id %}<h4 class="text-muted float-right">
            <a href="https://stats.xonotic.org/player/{{ player.stats_id }}">xonstats page</a>
        {% endif %}</h4>
        <h2 class="page-header">{{ player.nickname }}</h2>
        {% if request.user.is_superuser %}
            <div class="row mb-3">
                <div class="col-12">
                    <h3>KEYS</h3>

                    <div class="list-group">
                        {% for i in keys %}
                            <div href="#"
                               class="list-group-item flex-column align-items-start">
                                <span class="badge badge-primary badge-pill float-right">
                                    <a href="{{ url('sorm:search_key', i.crypto_idfp) }}">SORM</a>
                                </span>
                                <div class="d-flex justify-content-between">
                                    <h5 class="mb-1"><code>{{ i.crypto_idfp }}</code></h5>
                                </div>
                                <ul style="padding: 0; margin: 0;">
                                    {% for n in i.nicknames %}
                                        {{ n.nickname }}
                                    {% endfor %}
                                </ul>
                            </div>


                        {% endfor %}

                    </div>
                </div>
            </div>

        {% endif %}

        <div class="row mb-3">
            <div class="col">
                <h3>Ladder Positions</h3>
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Pos</th>
                        <th>Points</th>
                        <th>Speed</th>
                        {% for i in ladder_columns %}
                            <th>{{ i }}</th>
                        {% endfor %}
                        <th>&gt; 10</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for lp in ladder_positions %}
                        <tr>
                            <th>{% if lp.ladder.type == 0 %}Global{% else %}{{ lp.ladder.server.name }}{% endif %}</th>
                            <td>{% if lp.points == 0 %}n/a{% else %}{{ lp.position }}/
                                {{ lp.ladder.max_position }}{% endif %}</td>
                            <td>{{ lp.points|round }}</td>
                            <td>{{ lp.data.get('speed', 0) }}</td>
                            {% for i in ladder_columns %}
                                <td>{{ lp.data.get(i, 0) }}</td>
                            {% endfor %}
                            <td>{{ count_rest(lp.data) }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <h4>Compare {{ player.nickname }} with</h4>
                <form action="{{ url('xdf:compare') }}">
                    {{ compare_form.player1 }}
                    <div class="row">
                        <div class="col">
                            {{ bootstrap_field(compare_form.player2, show_label=False) }}
                        </div>
                        <div class="col">
                            <button class="btn btn-primary">Compare!</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <h3>Latest Activity</h3>
                <table class="table table-bordered table-striped">
                    {% for i in news_items %}
                        <tr>
                            {% if i.event_type == 1 %}
                                <th>
                                    <a href="{{ url('xdf:map', urlquote(i.speed_record.map)) }}">{{ i.speed_record.map }}</a>
                                </th>
                                <td>{{ format_timestamp(i.timestamp) }}</td>
                                <td colspan="2">{{ i.speed_record.speed|round }}qu/s</td>
                            {% else %}
                                <th>
                                    <a href="{{ url('xdf:map', urlquote(i.time_record.map)) }}">{{ i.time_record.map }}</a>
                                </th>
                                <td>{{ format_timestamp(i.timestamp) }}</td>

                                <td>{{ i.time_record.global_pos }}/ {{ i.time_record.global_max_pos }}</td>
                                <td>{{ format_time(i.time_record.time) }}s</td>
                            {% endif %}

                        </tr>
                    {% endfor %}
                </table>
                <a href="{{ url('xdf:player-activity', player.id) }}">View all activity of {{ player.nickname }}</a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <h3>Favourite Maps</h3>
                <table class="table table-bordered table-striped">
                    {% for r in best_records %}
                        <tr>
                            <th><a href="{{ url('xdf:map', urlquote(r.map)) }}">{{ r.map }}</a></th>
                            <th>{{ r.global_pos }}/{{ r.global_max_pos }}</th>
                            <th>{{ format_time(r.time) }}</th>
                        </tr>
                    {% endfor %}
                </table>
                <a href="{{ url('xdf:player-speed-records', player.id) }}">Speed records
                    by {{ player.nickname }}</a><br>
                <a href="{{ url('xdf:player-time-records', player.id) }}">Time records by {{ player.nickname }}</a>
            </div>
        </div>
    </div>
{% endblock %}
