{% extends "xdf/base.jinja" %}

{% block title %}Time Records of {{ player.nickname }} - Xonotic DeFRaG{% endblock %}


{% block content %}
    <div class="col-md-12">
        <h1>Xonotic DeFRaG</h1>
        <h2>Time Records of <a href="{{ url('xdf:player', player.id) }}">{{ player.nickname }}</a></h2>
        <form>
            <div class="row">
                <div class="col">
                    {{ bootstrap_field(form.maps, show_label=False) }}
                </div>
                <div class="col">
                    {{ bootstrap_field(form.servers, show_label=False) }}
                </div>
                <div class="col">
                    {{ bootstrap_field(form.position_gte, show_label=False) }}
                </div>
                <div class="col">
                    {{ bootstrap_field(form.position_lte, show_label=False) }}
                </div>
                <div class="col">
                    <button class="btn btn-primary">refresh</button>
                </div>
            </div>
        </form>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Server</th>
                <th>Map</th>
                <th>Server #</th>
                <th>Global #</th>
                <th>Time</th>
            </tr>
            </thead>
            <tbody>
            {% for i in records %}
                <tr>
                    <td>{{ i.server.name }}</td>
                    <td><a href="{{ url('xdf:map', urlquote(i.map)) }}">{{ i.map }}</td>
                    <td>{{ i.server_pos }}/{{ i.server_max_pos }}</td>
                    <td>{{ i.global_pos }}/{{ i.global_max_pos }}</td>
                    <td>{{ format_time(i.time) }}s</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {{ render_pagination(request, total_records) }}
    </div>
{% endblock %}
