[Unit]
Description=Xanmel-web UWSGI Server
After=syslog.target

[Service]
ExecStart=/home/xanmel/.virtualenvs/xanmel-web/bin/gunicorn
User=xanmel
Group=xanmel
Restart=always
WorkingDirectory=/home/xanmel/xanmel-web/

[Install]
WantedBy=multi-user.target
