{% extends "base.jinja" %}

{% block content %}
    <h1>Map Rating</h1>
    <ul class="nav nav-tabs">
        {% for i in servers %}
            <li {% if i.id == active_server.id %}class="active"{% endif %}>
                <a href="?{{ query_param(request, 'server_id', i.id) }}">{{ i.name }}</a>
            </li>
        {% endfor %}
    </ul>
    <div class="tab-content">
        <div class="tab-pane active">
            <h3>&nbsp;</h3>
            <table id="data-table" class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Map Name</th>
                    <th>Rating</th>
                    <th>Average Vote</th>
                    <th>Total Votes</th>
                </tr>
                </thead>
            </table>
        {#
            <table class="table table-bordered table-striped">
                <tr>
                    <th>Map Name <a href="?{{ query_param(request, 'sort', 'map|asc') }}"><i class="fa fa-sort"></i></a></th>
                    <th>Rating <a href="?{{ query_param(request, 'sort', 'rating|asc') }}"><i class="fa fa-sort"></i></a></th>
                    <th>Average vote <a href="?{{ query_param(request, 'sort', 'average|asc') }}"><i class="fa fa-sort"></i></a></th>
                    <th>Total votes <a href="?{{ query_param(request, 'sort', 'total|asc') }}"><i class="fa fa-sort"></i></a></th>
                </tr>
                {% for i in rating %}
                    <tr>
                        <td>{{ i.map.name }}</td>
                        <td>{{ i.rating }}</td>
                        <td>{{ i.average|floatformat(2) }}</td>
                        <td>{{ i.total }}</td>
                    </tr>
                {% endfor %}
            </table> #}
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
    var data = [
        {% for i in rating %}
            ['{{ i.map.name }}', {{ i.rating }}, {{ i.average | floatformat(2) }}, {{ i.total }}],
        {% endfor %}
    ];
    console.log(data);
    $('#data-table').DataTable({
        data: data,
        columns: [{title: 'Map Name'}, {title: 'Rating'}, {title: 'Average Vote'}, {title: 'Total Votes'}],
        order: [[ 2, 'desc' ], [1, 'desc']]
    })
    </script>
{% endblock %}
