{% extends "map_rating/base.jinja" %}

{% block content %}
<h1>Available servers</h1>
<ul>
    {% for id, name in servers.items() %}
    <li><a href="{{ url('map_rating:server_map_rating', id) }}">{{ name }}</a></li>
    {% endfor %}
</ul>
{% endblock %}
