body {
}

.main-container {
    margin-top: 32px;
}

h2.page-header {
    margin: 25px 0 20px 0;
}

#footer {
    margin: 5em 0;
}

#footer li {
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
}

#footer p {
    clear: left;
    margin-bottom: 0;
}