{% extends "base.jinja" %}

{% block container %}
<div class="row" style="background-color: #222222; color: #eeeeee">
    <div class="col-md-12">
        <table class="table table-bordered">
            <tr>
                <th>
                    Server
                </th>
                <th>
                    Nickname
                </th>
                <th>
                    time
                </th>
                <th>
                    Map
                </th>
                <th>
                    Timestamp
                </th>
                <th>
                    IP
                </th>
                <th>
                    Crypto IDFP
                </th>
                <th>
                    Stats ID
                </th>
            </tr>
            {% for i in records %}
            <tr>
                <td>
                    {{ i.server.name }}
                </td>
                <td>
                    {{ html_colors(i.nickname_nocolors)|safe }}
                </td>
                <td>
                    {{ i.time }}
                </td>
                <td>
                    {{ i.map.name }}
                </td>
                <td>
                    {{ i.timestamp }}
                </td>
                <td>
                    {{ i.ip_address }}
                </td>
                <td>
                    {{ i.crypto_idfp }}
                </td>
                <td>
                    {{ i.stats_id }}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}