{% extends "base.jinja" %}

{% block extra_css %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
    <style>
    #map {
        height: 400px;
    }
    </style>
{% endblock %}


{% block container %}
    <div class="row">
        <div class="col-md-6">
            <h3>Latest player identifications:</h3>
            <table class="table table-bordered">
                <tr>
                    <th>Nickname</th>
                    <th>Geoloc</th>
                    <th>Network name</th>
                    <th><abbr title="Games played">GP</abbr></th>
                </tr>
                {% for key, value in identities %}
                    <tr>
                        <td>
                            <a href="#">{{ value['nickname'] }}</a>
                        </td>
                        <td>
                            {{ key.full_geoloc() }}
                        </td>
                        <td>
                            {{ key.get('network_name') }}
                        </td>
                        <td>{{ value.timestamps|length }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-md-6">
            <div class="pull-right" style="margin-top: 20px;">Hello, {{ user.username }}! <a href="{{ url('logout') }}">Log OUT</a></div>
            <h3>Map</h3>
            <div id="map"></div>
        </div>
    </div>

{% endblock %}

{% block extra_js %}
    <script>
        var map = L.map('map').setView([51.505, -0.09], 1);
        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
        {% for key, value in identities %}
            {% for latitude, longitude in value.geo %}
                L.marker([{{ latitude }}, {{ longitude }}]).addTo(map).bindPopup('{{ value['nickname'] }}: {{ key.full_geoloc() }}');
            {% endfor %}
        {% endfor %}

    </script>
{% endblock %}
